Repository pleisto/flappy, pull requests merged in 2023-10, with the labels that each got.

#96 ci(nodejs): fix nodejs & nodejs-bindings workflow
  .github/workflows/java-bindings-publish-common.yml
  .github/workflows/nodejs-bindings-build-common.yml
  .github/workflows/nodejs-bindings-build.yml
  .github/workflows/nodejs-bindings-publish.yml
  .github/workflows/nodejs-build-common.yml
  .github/workflows/nodejs-build.yml
  .github/workflows/nodejs-publish.yml
Labels: github

#97 ci: improve concurrency
  .github/workflows/cleanup-workflows.yml
  .github/workflows/csharp-binding-build.yml
  .github/workflows/csharp-test.yml
  .github/workflows/doc-deploy.yml
  .github/workflows/java-bindings-publish.yml
  .github/workflows/java-bindings-test.yml
  .github/workflows/kotlin-publish.yml
  .github/workflows/kotlin-test.yml
  .github/workflows/nodejs-bindings-build.yml
  .github/workflows/nodejs-bindings-publish.yml
  .github/workflows/nodejs-build.yml
  .github/workflows/nodejs-publish.yml
  .github/workflows/rust-test.yml
  packages/nodejs/README.md
  packages/rust-core/nodejs/README.md
Labels: github, core, nodejs-bindings, nodejs

#98 feat(kotlin): sandbox function
  .github/workflows/csharp-bindings-build.yml
  .github/workflows/csharp-ci.yml
  .github/workflows/java-bindings-build-common.yml
  .github/workflows/java-bindings-ci.yml
  .github/workflows/java-bindings-publish.yml
  .github/workflows/kotlin-ci.yml
  .github/workflows/nodejs-bindings-ci.yml
  .github/workflows/nodejs-ci.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/rust-ci.yml
  packages/csharp/README.md
  packages/kotlin/README.md
  packages/kotlin/flappy/build.gradle.kts
  packages/kotlin/flappy/src/main/kotlin/flappy/Agent.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/Exception.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/Function.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/Sandbox.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/functions/eval.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/functions/invoke.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/functions/synthesized.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/FunctionTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/JniTest.kt
  packages/nodejs/README.md
  packages/rust-core/Cargo.lock
  packages/rust-core/README.md
  packages/rust-core/common/Cargo.toml
  packages/rust-core/java/README.md
  packages/rust-core/java/pom.xml
  packages/rust-core/java/src/main/java/com/pleisto/FlappyJniSandbox.java
  packages/rust-core/nodejs/README.md
Labels: github, core, nodejs-bindings, nodejs, java-bindings, kotlin, csharp

#99 fix: java-bindings visibility
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-linter.yml
  .github/workflows/rust-ci.yml
  packages/rust-core/java/README.md
  packages/rust-core/java/pom.xml
  packages/rust-core/java/src/main/java/com/pleisto/FlappyJniSandbox.java
Labels: github, core, java-bindings

#94 test(nodejs): add node-flappy test and coverage
  .github/workflows/nodejs-ci.yml
  packages/nodejs/package.json
  packages/nodejs/src/flappy-agent.test.ts
  packages/nodejs/src/flappy-function-base.ts
  packages/nodejs/src/invoke-function.test.ts
  packages/nodejs/src/synthesized-function.test.ts
  packages/nodejs/src/synthesized-function.ts
  packages/nodejs/src/utils.test.ts
  packages/nodejs/vitest.config.ts
  yarn.lock
Labels: github, nodejs

#101 chore: bump java-bindings version && kotlin coverage
  .github/labeler.yml
  .github/workflows/doc-deploy.yml
  .github/workflows/greetings.yml
  .github/workflows/issue-translater.yml
  .github/workflows/java-bindings-ci.yml
  .github/workflows/kotlin-ci.yml
  .github/workflows/nodejs-bindings-build-common.yml
  .github/workflows/nodejs-bindings-publish.yml
  .github/workflows/nodejs-ci.yml
  .github/workflows/nodejs-publish.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/rust-ci.yml
  packages/kotlin/flappy/build.gradle.kts
  packages/rust-core/java/pom.xml
Labels: github, core, java-bindings, kotlin

#102 fix: doc deploy
  .github/workflows/csharp-bindings-build.yml
  .github/workflows/doc-deploy.yml
  renovate.json
Labels: github

#104 build(nodejs): fix nodejs build
  .github/workflows/doc-deploy.yml
  .github/workflows/nodejs-bindings-build-common.yml
  .github/workflows/nodejs-bindings-publish.yml
  .github/workflows/nodejs-build-common.yml
  .github/workflows/nodejs-ci.yml
  .github/workflows/nodejs-publish.yml
  packages/nodejs/src/llm/baichuan.ts
  packages/nodejs/tsconfig.build.json
Labels: github, nodejs

#105 refactor(nodejs): rewrite functions definition by YAML to make LLM un…
  packages/nodejs/package.json
  packages/nodejs/src/flappy-agent.test.ts
  packages/nodejs/src/flappy-agent.ts
  packages/nodejs/src/utils.test.ts
  packages/nodejs/src/utils.ts
  yarn.lock
Labels: nodejs

#106 chore(nodejs): bump version to v0.0.1-alpha.3
  packages/nodejs/package.json
Labels: nodejs

#107 fix: nodejs release
  .github/workflows/csharp-bindings-build.yml
  .github/workflows/doc-deploy.yml
  .github/workflows/nodejs-build-common.yml
  .github/workflows/nodejs-ci.yml
  .github/workflows/nodejs-publish.yml
  .github/workflows/rust-cache/action.yml
  packages/nodejs/src/flappy-agent.test.ts
  packages/nodejs/src/flappy-agent.ts
Labels: github, nodejs

#108 fix: nodejs type
  packages/nodejs/src/flappy-agent.interface.ts
Labels: nodejs

#109 chore(nodejs): bump node-flappy version to v0.0.1-alpha.4
  packages/nodejs/package.json
Labels: nodejs

#110 feat(kotlin): refactor function definition && add coverage
  .github/workflows/kotlin-ci.yml
  packages/kotlin/README.md
  packages/kotlin/flappy/build.gradle.kts
  packages/kotlin/flappy/src/main/kotlin/flappy/Agent.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/Function.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/Mapper.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/llms/Baichuan.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/AgentTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/FunctionTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/JniTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/MapperTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/SchemaTest.kt
Labels: github, kotlin

#111 docs: add readme badges
  .github/workflows/kotlin-ci.yml
  README.md
  assets/languages/csharp.svg
  assets/languages/java.svg
  assets/languages/nodejs.png
  packages/csharp/README.md
  packages/kotlin/flappy/build.gradle.kts
  packages/kotlin/flappy/src/main/kotlin/flappy/Coroutine.kt
  packages/nodejs/README.md
Labels: github, nodejs, kotlin, csharp

#115 build(node-bindings): skip github release in publish progress
  packages/rust-core/nodejs/package.json
Labels: nodejs-bindings

#116 chore: codecov setting
  .github/renovate.json5
  .github/workflows/codeql.yml
  codecov.yml
Labels: github

#118 chore: codeql
  .github/workflows/codeql.yml
  .github/workflows/csharp-bindings-build.yml
  .github/workflows/csharp-ci.yml
  .github/workflows/java-bindings-ci.yml
  .github/workflows/kotlin-ci.yml
  .github/workflows/nodejs-bindings-ci.yml
  .github/workflows/nodejs-ci.yml
  codecov.yml
  renovate.json
Labels: github

#119 feat(nodejs): add roarr logger
  examples/nodejs/package.json
  packages/nodejs/externals.d.ts
  packages/nodejs/package.json
  packages/nodejs/src/flappy-agent.ts
  packages/nodejs/src/llm/baichuan.ts
  packages/nodejs/src/synthesized-function.ts
  packages/nodejs/src/utils.ts
  packages/nodejs/tsconfig.json
  yarn.lock
Labels: nodejs, node-example

#120 chore(nodejs): resolve source code in development
  packages/nodejs/bin/prepublish
  packages/nodejs/package.json
Labels: nodejs

#121 chore(nodejs): bump version to v0.0.1-alpha.5
  packages/nodejs/package.json
Labels: nodejs

#122 V0.0.1 alpha.6
  packages/nodejs/package.json
Labels: nodejs
