Repository pleisto/flappy, pull requests merged in 2023-11, with the labels that each got.

#123 feat(nodejs): code interpreter and feature refactor
  .github/workflows/csharp-bindings-build.yml
  .github/workflows/nodejs-bindings-build-common.yml
  README.md
  codecov.yml
  docs/docs/code-interpreter.mdx
  docs/docs/introduction.mdx
  docs/docs/quick-start.mdx
  docs/docs/sythesized-function.mdx
  docs/i18n/ja/docusaurus-plugin-content-docs/current/introduction.mdx
  docs/i18n/ja/docusaurus-plugin-content-docs/current/quick-start.mdx
  docs/i18n/zh-Hans/docusaurus-plugin-content-docs/current/introduction.mdx
  docs/i18n/zh-Hans/docusaurus-plugin-content-docs/current/quick-start.mdx
  examples/nodejs/src/codeInterpreter.ts
  examples/nodejs/src/law.ts
  examples/nodejs/src/resume.ts
  packages/nodejs/README.md
  packages/nodejs/src/features/base.ts
  packages/nodejs/src/features/codeInterpreter.test.ts
  packages/nodejs/src/features/codeInterpreter.ts
  packages/nodejs/src/features/index.ts
  packages/nodejs/src/features/invoke.test.ts
  packages/nodejs/src/features/invoke.ts
  packages/nodejs/src/features/synthesized.test.ts
  packages/nodejs/src/features/synthesized.ts
  packages/nodejs/src/flappy-agent.interface.ts
  packages/nodejs/src/flappy-agent.test.ts
  packages/nodejs/src/flappy-agent.ts
  packages/nodejs/src/flappy-feature.interface.ts
  packages/nodejs/src/flappy-feature.ts
  packages/nodejs/src/flappy-function-base.ts
  packages/nodejs/src/flappy-type.ts
  packages/nodejs/src/index.ts
  packages/nodejs/src/invoke-function.test.ts
  packages/nodejs/src/invoke-function.ts
  packages/nodejs/src/llms/baichuan.ts
  packages/nodejs/src/llms/chatgpt.ts
  packages/nodejs/src/llms/index.ts
  packages/nodejs/src/llms/interface.ts
  packages/nodejs/src/llms/llm-base.ts
  packages/rust-core/csharp/Cargo.toml
  packages/rust-core/java/Cargo.toml
  packages/rust-core/nodejs/Cargo.toml
Labels: github, nodejs-bindings, nodejs, java-bindings, docs, node-example, csharp-bindings

#125 docs: upgrade mdx-js
  docs/package.json
  renovate.json
  yarn.lock
Labels: docs

#128 feat: bump nodejs version
  packages/nodejs/package.json
Labels: nodejs

#129 feat: bump nodejs version 0.0.2
  packages/nodejs/package.json
Labels: nodejs

#127 feat: mustache prepare
  .github/workflows/codegen.yml
  .github/workflows/nodejs-ci.yml
  packages/nodejs/package.json
  packages/nodejs/src/features/codeInterpreter.ts
  packages/nodejs/src/features/synthesized.ts
  packages/nodejs/src/flappy-agent.test.ts
  packages/nodejs/src/flappy-agent.ts
  packages/nodejs/src/renderer/index.ts
  packages/nodejs/src/renderer/mustacheTypes.ts
  packages/nodejs/src/renderer/renderer.test.ts
  packages/nodejs/src/renderer/renderer.ts
  packages/nodejs/templates
  renovate.json
  templates/agent/systemMessage.mustache
  templates/agent/userMessage.mustache
  templates/error/retry.mustache
  templates/features/codeInterpreter/description.mustache
  templates/features/codeInterpreter/evalCode.mustache
  templates/features/synthesized/systemMessage.mustache
  templates/features/synthesized/userMessage.mustache
  templates/test/ping.mustache
  tools/devkit/package.json
  tools/devkit/src/commands/is-ci.ts
  tools/devkit/src/commands/mod.ts
  tools/devkit/src/commands/ts-mustache-codegen.ts
  yarn.lock
Labels: github, nodejs, devkit

#131 docs: update features
  docs/docs/code-interpreter.mdx
  docs/docs/quick-start.mdx
  docs/i18n/ja/docusaurus-plugin-content-docs/current/quick-start.mdx
  docs/i18n/zh-Hans/docusaurus-plugin-content-docs/current/quick-start.mdx
  examples/nodejs/src/codeInterpreter.ts
  examples/nodejs/src/law.ts
  packages/nodejs/README.md
  packages/nodejs/package.json
  packages/nodejs/src/flappy-agent.test.ts
  packages/nodejs/src/flappy-agent.ts
Labels: nodejs, docs, node-example

#132 feat: kotlin template renderer
  .github/workflows/java-bindings-ci.yml
  .github/workflows/kotlin-ci.yml
  docs/docs/code-interpreter.mdx
  docs/docs/quick-start.mdx
  docs/i18n/ja/docusaurus-plugin-content-docs/current/quick-start.mdx
  docs/i18n/zh-Hans/docusaurus-plugin-content-docs/current/quick-start.mdx
  examples/java/src/main/java/org/example/java/CodeInterpreter.java
  examples/java/src/main/java/org/example/java/Law.java
  examples/java/src/main/java/org/example/java/Resume.java
  examples/kotlin/src/main/kotlin/org/example/kotlin/CodeInterpreter.kt
  examples/kotlin/src/main/kotlin/org/example/kotlin/Law.kt
  examples/kotlin/src/main/kotlin/org/example/kotlin/Resume.kt
  packages/kotlin/.idea/kotlinc.xml
  packages/kotlin/README.md
  packages/kotlin/flappy/build.gradle.kts
  packages/kotlin/flappy/gradle.properties
  packages/kotlin/flappy/src/main/kotlin/flappy/Agent.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/FeatureBase.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/Renderer.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/features/codeInterpreter.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/features/invoke.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/features/synthesized.kt
  packages/kotlin/flappy/src/main/kotlin/flappy/functions/eval.kt
  packages/kotlin/flappy/src/main/resources/templates
  packages/kotlin/flappy/src/test/java/flappy/FunctionTestJava.java
  packages/kotlin/flappy/src/test/kotlin/flappy/AgentTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/CodeInterpreterTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/FunctionTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/JniTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/TemplateTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/examples/LawTest.kt
  packages/kotlin/flappy/src/test/kotlin/flappy/examples/ResumeTest.kt
  packages/rust-core/java/pom.xml
Labels: github, java-bindings, kotlin, docs, kotlin-example, java-example

#133 feat: add csharp document and change publish rule
  .github/workflows/csharp-bindings-build.yml
  .github/workflows/csharp-build.yml
  .github/workflows/csharp-ci.yml
  docs/docs/code-interpreter.mdx
  docs/docs/invoke-function.mdx
  docs/docs/quick-start.mdx
  docs/docs/sythesized-function.mdx
  examples/csharp/Pleisto.Flappy.Examples/Law/LawCase.cs
  examples/csharp/Pleisto.Flappy.Examples/Law/Models/getLatestLawsuits_Args.cs
  examples/csharp/Pleisto.Flappy.Examples/Law/Models/getMeta_Args.cs
  examples/csharp/Pleisto.Flappy.Examples/Law/Models/getMeta_Return.cs
  packages/csharp/Pleisto.Flappy.Test/Agent.cs
  packages/csharp/Pleisto.Flappy.Test/CodeInterpreter.cs.bak
  packages/csharp/Pleisto.Flappy/Exceptions/InvalidJsonDataException.cs
  packages/csharp/Pleisto.Flappy/Features/FeaturesDefinitionBase.cs
  packages/csharp/Pleisto.Flappy/Features/FlappyFeatureBase.cs
  packages/csharp/Pleisto.Flappy/FlappyAgent.cs
  packages/csharp/Pleisto.Flappy/Interfaces/IFlappyFeature.cs
  packages/csharp/Pleisto.Flappy/Pleisto.Flappy.csproj
  packages/csharp/README.md
  packages/rust-core/csharp/.gitignore
  packages/rust-core/csharp/Pleisto.Flappy.Native.csproj
Labels: github, csharp, docs, csharp-bindings, csharp-example

#135 build(nodejs): introduce rollup to nodejs build system for requiring raw files(mustache files)
  .gitignore
  examples/nodejs/package.json
  examples/nodejs/raw-loader.js
  examples/nodejs/tsconfig.json
  packages/nodejs/bin/prepublish
  packages/nodejs/externals.d.ts
  packages/nodejs/package.json
  packages/nodejs/rollup.config.ts
  packages/nodejs/rollup/raw.js
  packages/nodejs/src/renderer/renderer.ts
  packages/nodejs/src/renderer/templates.ts
  packages/nodejs/tsconfig.build.json
  packages/nodejs/tsconfig.json
  tools/devkit/src/commands/ts-mustache-codegen.ts
  yarn.lock
Labels: nodejs, devkit, node-example

#136 refactor: cargo.toml && codeql
  .github/workflows/codeql.yml
  .github/workflows/csharp-bindings-build.yml
  .github/workflows/csharp-ci.yml
  .github/workflows/csharp-publish.yml
  .github/workflows/java-bindings-ci.yml
  .github/workflows/kotlin-ci.yml
  .github/workflows/nodejs-bindings-ci.yml
  .github/workflows/nodejs-ci.yml
  packages/csharp/Directory.Build.props
  packages/kotlin/flappy/build.gradle.kts
  packages/nodejs/README.md
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/common/Cargo.toml
  packages/rust-core/csharp/Cargo.toml
  packages/rust-core/java/Cargo.toml
  packages/rust-core/nodejs/Cargo.toml
Labels: github, core, nodejs-bindings, nodejs, java-bindings, kotlin, csharp, csharp-bindings

#137 fix: csharp publish
  .github/workflows/csharp-publish.yml
Labels: github

#138 fix: fix dead_code trimed issue
  .github/workflows/csharp-bindings-build.yml
  packages/csharp/Pleisto.Flappy.Test/Pleisto.Flappy.Test.csproj
  packages/csharp/Pleisto.Flappy.Test/Samples.cs
  packages/rust-core/csharp/src/code_interpreter/mod.rs
Labels: github, csharp, csharp-bindings

#139 fix(csharp): fix csharp nativce link
  packages/csharp/Directory.Build.props
  packages/csharp/Pleisto.Flappy.Test/CodeInterpreter.cs
  packages/csharp/Pleisto.Flappy.Test/Pleisto.Flappy.Test.csproj
  packages/csharp/Pleisto.Flappy/Pleisto.Flappy.csproj
Labels: csharp

#140 feat(nodejs): openai gpt3 json response format
  .github/workflows/csharp-ci.yml
  .github/workflows/kotlin-ci.yml
  .github/workflows/nodejs-ci.yml
  docs/docs/code-interpreter.mdx
  docs/docs/quick-start.mdx
  docs/i18n/ja/docusaurus-plugin-content-docs/current/quick-start.mdx
  docs/i18n/zh-Hans/docusaurus-plugin-content-docs/current/quick-start.mdx
  examples/nodejs/src/codeInterpreter.ts
  examples/nodejs/src/law.ts
  examples/nodejs/src/resume.ts
  packages/kotlin/README.md
  packages/kotlin/flappy/src/main/kotlin/flappy/llms/ChatGPT.kt
  packages/nodejs/README.md
  packages/nodejs/src/llms/chatgpt.ts
Labels: github, nodejs, kotlin, docs, node-example

#141 refactor(rust-core): ci
  .cargo/config
  .github/workflows/csharp-bindings-build.yml
  .github/workflows/metadata/action.yml
  .github/workflows/nodejs-bindings-build-common.yml
  .github/workflows/rust-cache/action.yml
  .github/workflows/rust-ci.yml
  codecov.yml
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/build.sh
  packages/rust-core/common/Cargo.toml
  packages/rust-core/common/src/code_interpreter/wasix.rs
  packages/rust-core/csharp/Cargo.toml
  packages/rust-core/java/Cargo.toml
  packages/rust-core/java/src/error.rs
  packages/rust-core/nodejs/Cargo.toml
  packages/rust-core/rust-toolchain.toml
Labels: github, core, nodejs-bindings, java-bindings, csharp-bindings

#143 ci: refactor coverage upload, combine all coverage steps
  .github/workflows/coverage.yml
  .github/workflows/csharp-ci.yml
  .github/workflows/kotlin-ci.yml
  .github/workflows/nodejs-ci.yml
Labels: github

#144 fix: code coverage flags && add cargo deny
  .cargo/config
  .github/workflows/coverage.yml
  .github/workflows/rust-ci.yml
  codecov.yml
  packages/rust-core/.gitignore
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/csharp/Cargo.toml
  packages/rust-core/csharp/Pleisto.Flappy.Native.csproj
  packages/rust-core/deny.toml
  packages/rust-core/java/.cargo/config
  packages/rust-core/java/Cargo.toml
  packages/rust-core/nodejs/Cargo.toml
Labels: github, core, nodejs-bindings, java-bindings, csharp-bindings

#146 docs: add codecov badges
  codecov.yml
  packages/csharp/README.md
  packages/kotlin/README.md
  packages/nodejs/README.md
  packages/rust-core/README.md
Labels: core, nodejs, kotlin, csharp

#147 fix(document): fix csharp code api2d
  docs/docs/code-interpreter.mdx
  docs/docs/quick-start.mdx
  docs/i18n/ja/docusaurus-plugin-content-docs/current/quick-start.mdx
  docs/i18n/zh-Hans/docusaurus-plugin-content-docs/current/quick-start.mdx
  examples/csharp/Pleisto.Flappy.Examples/CodeInterpreter/CodeInterpreterCase.cs
  examples/csharp/Pleisto.Flappy.Examples/ExampleBase.cs
  examples/csharp/Pleisto.Flappy.Examples/Law/LawCase.cs
  examples/csharp/Pleisto.Flappy.Examples/Resume/ResumeCase.cs
  packages/csharp/Pleisto.Flappy.Test/LLM/ChatGPTTest.cs
  packages/csharp/Pleisto.Flappy/FlappyAgent.cs
  packages/csharp/README.md
Labels: csharp, docs, csharp-example

#148 feat(rust-core): llm openai && local
  .github/workflows/rust-ci.yml
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/common/Cargo.toml
  packages/rust-core/llm/Cargo.toml
  packages/rust-core/llm/examples/local.rs
  packages/rust-core/llm/examples/openai.rs
  packages/rust-core/llm/src/client.rs
  packages/rust-core/llm/src/error.rs
  packages/rust-core/llm/src/lib.rs
  packages/rust-core/llm/src/local/client.rs
  packages/rust-core/llm/src/local/mod.rs
  packages/rust-core/llm/src/mock.rs
  packages/rust-core/llm/src/model.rs
  packages/rust-core/llm/src/openai/client.rs
  packages/rust-core/llm/src/openai/mod.rs
  packages/rust-core/llm/src/options.rs
  packages/rust-core/llm/src/token.rs
  packages/rust-core/nodejs/Cargo.toml
Labels: github, core, nodejs-bindings

#151 feat(rust): llm stream support
  .github/workflows/coverage.yml
  .github/workflows/greetings.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/rust-ci.yml
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/common/Cargo.toml
  packages/rust-core/csharp/Cargo.toml
  packages/rust-core/java/Cargo.toml
  packages/rust-core/llm/Cargo.toml
  packages/rust-core/llm/examples/local.rs
  packages/rust-core/llm/examples/openai.rs
  packages/rust-core/llm/src/client.rs
  packages/rust-core/llm/src/error.rs
  packages/rust-core/llm/src/lib.rs
  packages/rust-core/llm/src/local/client.rs
  packages/rust-core/llm/src/mock.rs
  packages/rust-core/llm/src/openai/client.rs
  packages/rust-core/llm/src/openai/mod.rs
  packages/rust-core/llm/src/openai/options.rs
  packages/rust-core/llm/src/openai/stream.rs
  packages/rust-core/llm/src/output/immediate.rs
  packages/rust-core/llm/src/output/mod.rs
  packages/rust-core/llm/src/output/stream.rs
  packages/rust-core/llm/src/prompt.rs
  packages/rust-core/llm/src/token.rs
  packages/rust-core/nodejs/Cargo.toml
Labels: github, core, nodejs-bindings, java-bindings, csharp-bindings
